/client/.vs
/client/Library
/client/Logs
/client/obj
/client/Temp
/client/Assembly-CSharp.csproj
/client/client.sln
/client/Unity.CollabProxy.Editor.csproj
/client/Unity.TextMeshPro.Editor.csproj
/client/Unity.PackageManagerUI.Editor.csproj
/client/Unity.Analytics.DataPrivacy.csproj
/client/Unity.TextMeshPro.csproj
/cluster/dbcontext/obj
obj
/cluster/dbcontext/bin/Debug/netcoreapp2.2/dbcontext.deps.json
/cluster/dbcontext/bin/Debug/netcoreapp2.2/dbcontext.dll
/cluster/dbcontext/bin/Debug/netcoreapp2.2/dbcontext.pdb
/cluster/dbcontext/bin/Debug/netcoreapp2.2/dbcontext.runtimeconfig.dev.json
/cluster/dbcontext/bin/Debug/netcoreapp2.2/dbcontext.runtimeconfig.json
/cluster/dbcontext/.vs/dbcontext/v16/.suo
/cluster/dbcontext/.vs/dbcontext/v16/Server/sqlite3/db.lock
/cluster/dbcontext/.vs/dbcontext/v16/Server/sqlite3/storage.ide
/cluster/dbcontext/.vs/dbcontext/v16/Server/sqlite3/storage.ide-shm
/cluster/dbcontext/.vs/dbcontext/v16/Server/sqlite3/storage.ide-wal
/client/HotFix/.vs/HotFix/v15/.suo
/client/HotFix/.vs/HotFix/v15/Server/sqlite3/db.lock
/client/HotFix/.vs/HotFix/v15/Server/sqlite3/storage.ide
/client/HotFix/.vs/HotFix/v15/Server/sqlite3/storage.ide-shm
/client/HotFix/.vs/HotFix/v15/Server/sqlite3/storage.ide-wal
/client/HotFix/.vs/HotFix/v16/.suo
/client/HotFix/.vs/HotFix/v16/Server/sqlite3/db.lock
/client/HotFix/.vs/HotFix/v16/Server/sqlite3/storage.ide
/client/HotFix/.vs/HotFix/v16/Server/sqlite3/storage.ide-shm
/client/HotFix/.vs/HotFix/v16/Server/sqlite3/storage.ide-wal
/client/HotFix/.vs/HotFix_Project/v16/.suo
/client/HotFix/.vs/HotFix_Project/v16/Server/sqlite3/db.lock
/client/HotFix/.vs/HotFix_Project/v16/Server/sqlite3/storage.ide
/cluster/.vs/cluster/v16/*.suo
